{% extends 'AppBundle::base.html.twig' %}

{%  block body %}
    <div class="container">
        <h3>Prekė sėkmingai nupirkta!</h3>
        <a href="{{ path('auction_list') }}"><button class="btn btn-primary">Grįžti į sąrašą</button></a>
    </div>
{% endblock %}
